.header {
    background-color: darkcyan;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    text-align: center;
    
    max-width: 800px;
    margin: 0 auto;
    padding: .6rem;
}

.caption {
    font-weight: 700;
    margin: 0 0 1rem 0;
    
}

.description {
    margin: 0 0 1rem 0;
}

.button {
    color: inherit;
    appearance: none;
    font: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}