%base {
    height: 2rem;
    font-size: 1rem;
    border: 2px solid darkcyan;
    border-radius: 5px;
    padding: 0 1rem;
  }
  
.filled {
    @extend %base;
    background-color: darkcyan;
    color: white;
  }
  
  .stroke {
    @extend %base;
    background-color: white;
    color: darkcyan;
}