.container {
    margin-right: .3rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    flex: 1;
    height: 1.5rem;
    font-size: 1.1rem;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: .3rem;
}