.submit {
    margin-left: .3rem;
    background-color: darkcyan;
    height: 2rem;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}

.container {
    margin-right: .3rem;
    display: flex;
    align-items: center;
}

.input {
    height: 1.5rem;
    /* line-height: 1.8rem; */
    font-size: 1.2rem;
    border: 2px solid darkcyan;
    border-radius: 5px;
}